<!DOCTYPE html>
<html lang="en">
     <title>covid data</title>
	 <link rel="stylesheet" href="style.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
   <script src="script.js"></script>
     <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
	<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #35378e;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/Graph">Graph</a></li>
  <li><a href="/About">About</a></li>
</ul>

<h3> made by Adair  </h3>

    </body>
</html>
