<!DOCTYPE html>
<html lang="en">
     <title>covid data</title>
	 <link rel="stylesheet" href="style.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
   <script src="script.js"></script>
     <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
			<style>
		ul {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		  background-color: #35378e;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: white;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		}

		li a:hover {
		  background-color: #111;
		}
		</style>
		</head>
	<body>	

<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/Graph">Graph</a></li>
  <li><a href="/About">About</a></li>
</ul>
 
 <img src="static/COVIEris.jpg" alt="no picture" style="width:228px;height:228;">
<form action="/Graph">


<h1> how covid started </h1>
<h3>Three years after the World Health Organization declared COVID-19 a pandemic on March 11, 2020, questions linger about the origins of the virus that shut down borders, forced humanity into their homes, battered economies and killed millions of people.
The virus was first detected in Wuhan, China in late December 2019, and was quickly linked to the Huanan Seafood Wholesale Market. But as cases began to grow, health authorities in Wuhan scrubbed the market clean by January 1, 2020. Removed from the market were the exotic wildlife, such as raccoon dogs and bamboo rats, that many scientists believe were the intermediary step between horseshoe bats – a common reservoir for coronaviruses and endemic to the area around Wuhan – and COVID-19’s jump to humans. Critical information has been missing from the start of the investigation and China has refused to give the WHO and other researchers full access to the remaining data.
In the place of answers are competing narratives.
On one end of the spectrum, there is evolutionary biology, which supports a natural or “zoonotic” outbreak. On the other end are those who believe it may have accidentally leaked from the Wuhan Institute of Virology, which lies less than a kilometre from the market and is known to handle dangerous pathogens. For them, compelling evidence lies in the fact that similar accidents have happened before in Taiwan, China and Singapore. Near misses have also been reported at labs in the United States, including at the University of North Carolina at Chapel Hill.
Conspiracy theorists and a few pundits believe that COVID-19 may have been a bioweapon, released by either the US or China depending on their political leanings.
So what do we really know, and what does science suggest might be the origin story of the virus?
The short answer: Scientists and other experts appear to skew towards believing in a natural cause — that the virus indeed spread from animals to humans. But China’s opacity has led to a dearth of evidence from the period, which, in turn, has kept scientists from making any definitive conclusions and has generated conspiracy theories.</h3>



    </body>
</html>
